<%- include('includes/head.ejs') %>
</head>
<%- include('includes/loggedin.ejs') %>
<%- include('includes/navigation.ejs') %>
<H1>About page</H1>
    <p>Bc. Work at CTU in Prague, created by Jan Mádle</p> 
<%- include('includes/end.ejs') %>